/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Online */
/* ------------------------------------------------------------------------------------------------------------- */
@keyframes blinkAnimation {
  0%,
  100% {
    transform: scale(1.2) translateZ(0px);
    -webkit-transform: scale(1.2) translateZ(0px);
    -moz-transform: scale(1.2) translateZ(0px);
    -ms-transform: scale(1.2) translateZ(0px);
    -o-transform: scale(1.2) translateZ(0px);
  }
  50% {
    transform: scale(1) translateZ(0px);
    -webkit-transform: scale(1) translateZ(0px);
    -moz-transform: scale(1) translateZ(0px);
    -ms-transform: scale(1) translateZ(0px);
    -o-transform: scale(1) translateZ(0px);
  }
}
.animated-online {
  animation: blinkAnimation 0.5s infinite;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Fade in Top */
/* ------------------------------------------------------------------------------------------------------------- */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media (max-width: 1023.98px) {
  .max-tabs\:fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Fade In */
/* ------------------------------------------------------------------------------------------------------------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Fade In Bottom */
/* ------------------------------------------------------------------------------------------------------------- */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .fade-in-bottom-blog {
    -webkit-animation: fade-in-bottom 800ms 50ms both;
    animation: fade-in-bottom 800ms 50ms both;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Bounce */
/* ------------------------------------------------------------------------------------------------------------- */
@keyframes bounce {
  0% {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }
  0% {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }
}

.icon-bounce {
  animation: bounce 1s infinite;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Button Collapse */
/* ------------------------------------------------------------------------------------------------------------- */
.buttonToggleCollapse {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.175s;
  /* background-color: rgb(251 191 36); */
}
/* burger-5 */
.burger-5 {
  scale: 1.1;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-5 svg {
  height: 32px;
  transform: translate(-1px, -1px);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-5 .line {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.35;
  transition:
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition:
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition:
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition:
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition:
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-5 .line-top-bottom {
  stroke-dasharray: 12 63;
}
.is-closed.burger-5 svg {
  transform: rotate(-45deg) translate(0);
}
.is-closed.burger-5 svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Button Toggle Theme */
/* ------------------------------------------------------------------------------------------------------------- */
.theme-switch {
  --toggle-size: 0.52rem;
  --container-width: 5.625em;
  --container-height: 2.75em;
  --container-radius: 6.25em;
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow:
    0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow:
    0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow:
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow:
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow:
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow:
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow:
    0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow:
    0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow:
    0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #969696 inset;
  box-shadow:
    0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow:
    0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color),
    0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color),
    1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color),
    2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color),
    2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow:
    0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color),
    0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color),
    1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color),
    2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color),
    2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */
.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}
.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter)
  );
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container:hover {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter) -
      0.187em
  );
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Like Animation */
/* ------------------------------------------------------------------------------------------------------------- */
@keyframes like-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(-10deg);
  }
}

.animate-like {
  display: inline-block;
  animation: like-animation 0.5s;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Dislike Animation */
/* ------------------------------------------------------------------------------------------------------------- */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2) rotate(-10deg);
  }
}

@keyframes animate-dislike {
  0% {
    transform: scale(0) rotate(180deg);
    opacity: 0;
  }

  50% {
    transform: scale(1.2) rotate(170deg);
  }
}

.animate-dislike {
  display: inline-block;
  animation: animate-dislike 0.5s;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Sad */
/* ------------------------------------------------------------------------------------------------------------- */
@keyframes sad-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-sad {
  display: inline-block; /* Ensure the span is treated as a block for scaling */
  animation: sad-animation 0.6s ease-in-out;
  transition:
    transform 0.6s,
    opacity 0.6s;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Animation Fireworks */
/* ------------------------------------------------------------------------------------------------------------- */
@keyframes fireworks {
  0% {
    opacity: 1;
    transform: scale(0.5) translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translateY(-100px) rotate(720deg);
  }
}

.fireworks {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 80px;
  top: -10px;
  border-radius: 50%;
  box-shadow:
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff,
    0 0 #fff;
  animation:
    1s fireworks-bang ease-out forwards,
    1s fireworks-gravity ease-in forwards,
    5s fireworks-position linear forwards;
  animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation:
    1s fireworks-bang ease-out forwards,
    1s fireworks-gravity ease-in forwards,
    5s fireworks-position linear forwards;
}

.fireworks {
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
}

/* Fireworks Animation */
@keyframes fireworks-position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes fireworks-gravity {
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes fireworks-bang {
  to {
    box-shadow:
      114px -107.3333333333px #8800ff,
      212px -166.3333333333px #a600ff,
      197px -6.3333333333px #ff006a,
      179px -329.3333333333px #3300ff,
      -167px -262.3333333333px #ff0062,
      233px 65.6666666667px #ff008c,
      81px 42.6666666667px #0051ff,
      -13px 54.6666666667px #00ff2b,
      -60px -183.3333333333px #0900ff,
      127px -259.3333333333px #ff00e6,
      117px -122.3333333333px #00b7ff,
      95px 20.6666666667px #ff8000,
      115px 1.6666666667px #0004ff,
      -160px -328.3333333333px #00ff40,
      69px -242.3333333333px #000dff,
      -208px -230.3333333333px #ff0400,
      30px -15.3333333333px #e6ff00,
      235px -15.3333333333px #fb00ff,
      80px -232.3333333333px #d5ff00,
      175px -173.3333333333px #00ff3c,
      -187px -176.3333333333px #aaff00,
      4px 26.6666666667px #ff6f00,
      227px -106.3333333333px #ff0099,
      119px 17.6666666667px #00ffd5,
      -102px 4.6666666667px #ff0088,
      -16px -4.3333333333px #00fff7,
      -201px -310.3333333333px #00ffdd,
      64px -181.3333333333px #f700ff,
      -234px -15.3333333333px #00fffb,
      -184px -263.3333333333px #aa00ff,
      96px -303.3333333333px #0037ff,
      -139px 10.6666666667px #0026ff,
      25px -205.3333333333px #00ff2b,
      -129px -322.3333333333px #40ff00,
      -235px -187.3333333333px #26ff00,
      -136px -237.3333333333px #0091ff,
      -82px -321.3333333333px #6a00ff,
      7px -267.3333333333px #ff00c8,
      -155px 30.6666666667px #0059ff,
      -85px -73.3333333333px #6a00ff,
      60px -199.3333333333px #55ff00,
      -9px -289.3333333333px #00ffaa,
      -208px -167.3333333333px #00ff80,
      -13px -299.3333333333px #ff0004,
      179px -164.3333333333px #ff0044,
      -112px 12.6666666667px #0051ff,
      -209px -125.3333333333px #ff00bb,
      14px -101.3333333333px #00ff95,
      -184px -292.3333333333px #ff0099,
      -26px -168.3333333333px #09ff00,
      129px -67.3333333333px #0084ff,
      -17px -23.3333333333px #0059ff,
      129px 34.6666666667px #7300ff,
      35px -24.3333333333px #ffd900,
      -12px -297.3333333333px #ff8400,
      129px -156.3333333333px #0dff00,
      157px -29.3333333333px #1a00ff,
      -221px 6.6666666667px #ff0062,
      0px -311.3333333333px #ff006a,
      155px 50.6666666667px #00ffaa,
      -71px -318.3333333333px #0073ff;
  }
}
